.venv/
__pycache__/
*.pyc
.idea/
extraFiles/
scientificCalcPreview.py
standardPreview.py
extraFiles/themeMatrix.zip
extraFiles/themeMatrixCsvGenerator2.py
extraFiles/themeEditor2.py
extraFiles/themeLoader2.py
extraFiles/themeMatrix2.csv
extraFiles/themeManager2.py
themeMatrix_20250625.zip
*.zip